* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0, 0.7)),url('./image/cool.jpg') no-repeat center/cover;
}

.app {
    width: 40%;
    border-radius: 10px;
    padding: 30px 20px;
    background: url('./image/cool.jpg')no-repeat center/cover;
}

.hot {
    background:linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0, 0.7)),url('./image/hot.jpg') no-repeat center/cover;
}
.hot .app {
    background: url('./image/hot.jpg')no-repeat center/cover;
}

.cool {
    background:linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0, 0.7)),url('./image/cool.jpg') no-repeat center/cover;
}
.cool .app {
    background: url('./image/cool.jpg')no-repeat center/cover;
}

.cold {
    background:linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0, 0.7)),url('./image/cold.jpg') no-repeat center/cover;
}
.cold .app {
    background: url('./image/cold.jpg')no-repeat center/cover;
}

.warm {
    background:linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0, 0.7)),url('./image/warm.jpg') no-repeat center/cover;
}
.warm .app {
    background: url('./image/warm.jpg')no-repeat center/cover;
}

.search {
    display: flex;
    width: 80%;
    padding: 15px 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 15px 0 15px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.3);
    font-size: 2rem;
    font-weight: 600;
    transition: all linear 0.3s;
    margin:0 auto 40px auto;
    color: rgb(158, 158, 158);
}

.search:focus {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px 0 15px 0;
}

.content {
    text-align: center;
    color: #fff;
    transition: all linear 0.4s;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.place {
    text-shadow: 0 3px 4px rgba(0,0,0,0.4);
    font-size: 3rem;
}

.time {
    margin: 20px 0;
    font-size: 1.5rem;
    text-shadow: 0 3px 4px rgba(0,0,0,0.4);
}

.temperature {
    font-size: 6.5rem;
    padding:20px 0;
    text-shadow: 0 6px 10px rgba(0,0,0,0.8);
    background-color: rgba(255,255,255, 0.2);
    box-shadow:0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 0 90px;
    user-select: none;
}

.desc {
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0 3px 4px rgba(0,0,0,0.4);
    margin: 30px 0;
}

.more-infor {
    width: 80%;
    margin: 50px auto 70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-infor div {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-shadow: 0 3px 4px rgba(0,0,0,0.4);
}

.more-infor div span {
    margin-top: 10px;
}
